html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

p {
  text-align: center;
  font-size: 56px;
}
.button_rec{
  display:block;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  border: 1px solid red;
}
